.sobreMi {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media (max-width: 600px) {
    .sobreMi {
        padding: 1rem;
    }
}
@media (min-width: 768px) {
    .sobreMi {
        justify-content: center;
    }
}
.sobreMi h2 {
    color: #fff;
}
.sobreMi__btnContainer {
    display: flex;
    gap: 2rem;
}
.sobreMi__btnContainer button {
    padding: .5rem;
    text-transform: uppercase;
    color: violet;
    background-color: transparent;
    border: solid violet .1rem;
    border-radius: .3rem;
    transition: .2s;
}
.sobreMi__btnContainer button:hover {
    background-color: violet;
    color: #fff;
}
.sobreMi__textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #dedede;
    font-size: 1.1rem;
}