body {
    background: linear-gradient(180deg, #1b203d, #3d294d, #3e3e5c);
}
header, section {
    height: 100vh;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}
@media (min-width: 768px) {
    section {
        width: 60%;
        min-width: 40rem;
        max-width: 55rem;
        margin: auto;
    }
}